.table-custom {
  th, td {
    text-align: left;
    vertical-align: middle;
    padding: toRem(12px); 
  }

  th {
    background-color: $header-bg-color;
    color: $header-text-color;
    text-align: center; 
  }

  tbody tr:nth-child(odd) {
    background-color: $row-odd-color;
  }

  tbody tr:nth-child(even) {
    background-color: $row-even-color;
  }

  tbody tr:hover {
    background-color: $hover-color; 
  }
}

@media (max-width: 768px) {
  .table-custom {
    font-size: 14px;
  }
}
