.login {

    &__form {
        border: 1px solid #ddd;
        border-radius: toRem(16px);
        padding: toRem(20px);
        width: toRem(316px);

        &__input:focus  {
            box-shadow: 0 0 0 0;
            border-color: $golden-rod;
        }

        &__cta {
            background-color: $primary-yellow;
            border-radius: toRem(8px);
            border: 1px solid $secondary-yellow;
            color: $primary-black;
            margin-top: toRem(16px);
            padding: toRem(8px);
            width: 100%;
            &:hover {
                background: #F7CA00;
                border-color: #F2C200;
                cursor: pointer;
            }
        }
    }

    &__wrapper-left {
        &__img {
            height: 100%;
            width: 100%;
        }
    }
}