.signup-page {
  @extend %grid-center;
  .signup-form-section {
    padding: toRem(32px);
    border-radius: toRem(8px);
    box-shadow: $box-shadow-1;

    h1 {
      font-size: toRem(32px);
      color: $primary-black;
      margin-bottom: toRem(8px);
    }

    Form {
      h3 {
        font-size: toRem(24px);
        color: $primary-black;
        margin-bottom: toRem(24px);
      }

      .btn-warning {
        background-color: $greyish-green;
        color: $primary-black;
        border: none;
        padding: toRem(12px) toRem(16px);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($greyish-yellow, $hover-darken-percentage);
        }
      }
    }
    a {
      color: $primary-blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__image-container {
    &__img {
      height: 100%;
      width: 100%;
    }
  }
}
