$base-font-family: Arial, Helvetica, sans-serif;

$base-font-size: 16px;

// colors 
$primary: #eaddbc;
$orange: #f05500;
$primary-white: white;
$danger: red;
$primary-black: rgba(15, 14, 14);
$primary-blue: #007bff;
$primary-yellow: #FFD814;
$secondary-yellow: #FCD200;
$golden-rod: goldenrod;
$green: #198754;
$header-bg-color: #007bff; 
$white-smoke: #f9f9f9;
$lightwhite-smoke: #f1f1f1;
$greyish-green : #eaddbc;
$greyish-yellow : #D3D4C4;
$silver: silver;
$dark-blue : #004a7c;
$grey: grey;

// box-shadow
$box-shadow-1: 0 4px 10px rgba(0, 0, 0, 0.1);

$hover-darken-percentage: 10%;

