.category-card {
    position: relative; // Ensures absolute positioning is relative to the card
  overflow: hidden;
  
    .card-img-overlay {
      top: 0;
      bottom: auto;
      padding: 1rem; // Add padding according to your design
    }
      .category-title {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f9f7f7 ; // Semi-transparent background for readability
        color: rgba(15, 14, 14) ;
        padding: 0.375rem 0.75rem;
        border-radius: 0 0 10px 0; // Rounded corner on the bottom-right
        font-size: 1.0rem; // Large text for visibility
        font-weight: bold;
      }
      .shop-button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; // Stretch the button across the card width
        border-radius: 0; // Remove border-radius if any
    
        &:hover {
          background-color: darken(#007bff, 10%); // Example of darken on hover
        }
      }
  
    // ... other styles ...
  }
